/*
#e6e5e5
#282828
#d05141
#cf7a6e
#979796
#6c746c
*/


* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  padding: 0;
  font-family: 'Helvetica', sans-serif;
  background: #fff;
  margin: 0;
  font-size: 0.9rem;
  letter-spacing: 0.02rem;
  line-height: 1.5;
  color: #282828;
}

main {
  padding: 2em;
  max-width: 720px;
  margin: 0 auto;
}

h1.title {
  font-weight: 500;
  font-size: 64px;
  margin: 0;
  color: #d05141;
  text-align: center;
}

h2.subtitle {
  font-weight: 500;
  margin: 0;
  color: #6c746c;
  text-align: center;
}

hr {
  opacity: 0.1;
  border-color: ##282828;
  width: 10vw;
  text-align: center;
  margin: 2vh auto;
}

.explanation {
  max-width: 720px;
  margin: 1vh 0;
}

ul {
  border-left: 1px solid;
  padding-right: 0.5vw;
}

li {
  list-style: none;
  /*border: 1px solid;*/
  max-width: 720px;
  margin: 0 auto;
}

button {
  padding: 1em;
  border-radius: 0.2em;
  border: 1px solid #6c746c;
  display: block;
  cursor: pointer;
  background: #fff;
  margin: 10vh auto;
}

#tile-container {
  width: auto;
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

.tile, .tile-clicked {
  width: 20px;
  height: 20px;
  margin: 1px;
  align-self: flex-start ;
  border: 1px solid #6c746c;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.tile-clicked {
  border: 1px solid red;
}

.tile:hover {
  filter: drop-shadow(6px 6px 20px   #282828);
  background: #6c746c;
  border: none;
}

.tile > input , .tile-clicked > input {
  width: 0px;
}


.doc-id {
  font-size: 0.85em;
  text-align: center;
  color: rgba(0,0,0,0.5);
  position: relative;
  display: block;
  top: 5vh;
}

.doc-id span {
  /*border-bottom: 2px solid #d05141;*/
}