body {
  position: relative;
  overflow: hidden;
  line-height: 1;
  margin: 0;
  padding: 0;
}

svg,
canvas {
    position: absolute;
    margin: 0;
    padding: 0;
}


.title {
  font-family: 'Vollkorn', sans-serif;
  font-size: 180px;
  font-weight: 600;
  width: 60vw;
  position: absolute;
  z-index: 1;
  margin: 20px;
}

.subtitle {
  font-family: 'Vollkorn', sans-serif;
  font-size: 50px;
  font-weight: 400;
  width: 60vw;
  position: absolute;
  top: 50vh;
  z-index: 1;
  margin: 20px;
}

.form {
  position: absolute;
  width: auto;
  top: 90vh;
  left: 25vw;
  z-index: 1;
  background: rgba(255, 255, 255, 0.4);
  padding: 5px;
  border-radius: 2px;
}

.form > input {
  margin: 0 5px;
  width: 200px;
  border: none;
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.8);
}

input#add-photo {
  width: 200px;
  background: rgba(255, 255, 255, 0.8);
}

.logos {
  position: absolute;
  top: 90vh;
  left: 90vw;
  z-index: 1;
}
